---
import Markdown from '@components/misc/Markdown.astro'
import I18nKey from '../i18n/i18nKey'
import { i18n } from '../i18n/translation'
import MainGridLayout from '../layouts/MainGridLayout.astro'
import TalkInner from './talkInner'
---
<MainGridLayout title={i18n(I18nKey.talk)} description={i18n(I18nKey.talk)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <TalkInner client:load/>
        </div>
    </div>
</MainGridLayout>